main > div {
  margin: 2px 10px;
  background: #f8f8f8;
}

svg {
  display: block;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells circle {
  fill: gray;
}

.cells :hover circle {
  fill: red;
}


